.mi-header {
    height: 100px;
    background-image: url('../imagenes/index/Header.png');
    background-size: 1070px 100px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    display: flex;
    gap: 30px;
    padding: 10px 20px;
    border-radius: 8px;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    font-size: 18px;
    transition: color 0.3s;
}

.menu a:hover {
    color: #0077cc; /* efecto al pasar el ratón */
}

.menu a.active {
    color: white;                 /* o el color que quieras */
    background-color: #0077cc;    /* fondo para destacar */
    border-radius: 5px;
    padding: 5px 10px;
}