.mi-header {
    height: 100px;
    background-image: url('../imagenes/index/Header.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    display: flex;
    gap: 30px;
    padding: 10px 20px;
    border-radius: 8px;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    font-size: 18px;
    transition: color 0.3s;
}

.menu a:hover {
    color: #0077cc; /* efecto al pasar el ratón */
}

.menu a.active {
    color: white;                 /* o el color que quieras */
    background-color: #0077cc;    /* fondo para destacar */
    border-radius: 5px;
    padding: 5px 10px;
}


/*########################################*/
/*         MEDIA QUERY: MÓVIL/TABLET      */
/*########################################*/
@media (max-width: 768px) {
    .mi-header {
        height: auto;
        background-size: cover; /* se adapta al ancho */
        flex-direction: column;
        padding: 10px 0;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .menu a {
        font-size: 16px;
        padding: 6px 12px;
        width: 100%;
        text-align: center;
    }
}
