/* estilos.css */
body {
    background-image: url('../imagenes/xp.gif');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-rectangulo {
    width: 70vw;
    height: auto;
    background-color: lightgrey;
    border-left: 8px solid #0077cc;
    border-right: 8px solid #0077cc;
}
h2{
    background-color: whitesmoke;
}
p {
    font-family: "Courier New", monospace;
    font-size: 16px;
    color: #444;
    line-height: 1.5;
    background-color: whitesmoke;
    padding: 15px;
}
