/* estilos.css */
body {
    background-image: url('../imagenes/xp.jpg');
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contenedor-rectangulo {
    width: 70vw;
    height: auto;
    background-color: lightgrey;
    border-top: 8px solid #0068b3;
    border-left: 8px solid #0068b3;
    border-right: 8px solid #0068b3;
    border-bottom: 8px solid #0068b3;
}

p {
    font-family: "Courier New", monospace;
    font-size: 16px;
    color: #444;
    line-height: 1.5;
    background-color: whitesmoke;
    padding: 15px;
}
